.tooltipContainer {
  position: relative;
}

.tooltipBox {
  z-index: 999;
  position: absolute;
  // top: calc(100% + 12px);
  border-radius: 2px;
  padding: 6px 8px;
  min-width: 30px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  // animation: tooltipJump 0.3s both;
  transition: all 300ms ease-in-out;
  // transition-property: transform;
  // display: none;
  opacity: 0;
  transform: scale(0);
  &.visible {
    opacity: 1;
    transform: scale(1);
    // display: block;
  }
  &.top {
    top: calc(100% + 12px);
  }
  &.bottom {
    bottom: calc(100% + 12px);
  }
}

.tooltipArrow {
  position: absolute;

  left: 50%;
  border-width: 5px;
  border-style: solid;
  // border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  &.up {
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    top: -10px;
  }
  &.down {
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    bottom: -10px;
  }
}

@keyframes tooltipJump {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    tranform: scale(1);
  }
}
